# -*- coding: utf-8 -*-
#
# Copyright 2024 dpa-IT Services GmbH
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# The number of entries generated and held in the wireq-fake
NUMBER_OF_FILES = 300

# The maximum number of items returned by a single polling attempt
MAX_ITEMS_RETURNED = 50

# The value of the retry-after header after a poll when there are no more entries that can be polled in the wireq
RETRY_AFTER = 100

# The value of the retry-after header after a poll when there are more entries that can be polled in the wireq
RETRY_AFTER_MORE_DATA = 10

# The value of the retry-after header if the limit of requests per minute is exceeded
RETRY_AFTER_TOO_MANY_REQUESTS = 360

# How many requests per minute the wireq-fake handles before blocking additional requests
MAX_REQUESTS_PER_MINUTE = 500

# How long wireq-receipts received from a GET call are valid and can be used to delete gotten entries
WIREQ_RECEIPT_LIFETIME_DURATION = 200

# Port the wireq-fake server is started on
PORT = 8080

# The base url contacted by tests in test_live_and_local_wireq.py
# Either the url of a real wireQ or the url of the local server (http://127.0.0.1:<PORT>)
BASE_URL = http://127.0.0.1:8080
